.classpath
.settings
.project
.DS_Store
.externalToolBuilders
build
jars
.*.swp
nbproject
.idea
*.iml
*.ipr
*.iws
*.local.properties
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

/eclipsebin/
